#vape{background-color: black; color: white}
#how{color: gold; background-color: silver}
#some{color: gold;background-color: silver}
#what{color: gold;background-color: silver}
#Drag{color: red}
#discounts{background-color: palegreen; color: grey }
#loog{color: red}
#welcome{background-color: black; color: white}
p{color: white}
#our{color: ghostwhite}
#send{color:red}
#namee{color: white}
#emaill{color: white}
#passwordd{color:white}
#feedd{color: white}
h3{color: blue}
#product{color:white }